body {
  background: #312E38; 
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}

h1 {
  position: relative;
  top: 50px;
  left: 5%;
  font-size: 50px;
  margin: 50px; 
}

#h1 {
  color: #fff;
  top: 150px;
  left: 10px;
}

button {
  cursor: pointer;
}

#cronometro{
  position: relative;
  top: 10px;
  left: 250px;
}

.iniciar {
  
  background: #fff;
  height: 56px;
  border-radius: 10px;
  border: 0;
  position: relative;
  top: 300px;
  left: 10px;
  margin: 10px; 
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  
  padding: 0 16px;
  color: #312e38;
}

.pausar {
  background: #FFF;
  height: 56px;
  border-radius: 10px;
  border: 0;
  position: relative;
  top: 300px;
  left: 10px;
  margin: 10px; 
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  
  padding: 0 16px;
  color: #312e38;
}

.parar {
  background: #fff;
  height: 56px;
  border-radius: 10px;
  border: 0;
  position: relative;
  top: 300px;
  left: 10px;
  margin: 10px; 
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  
  padding: 0 16px;
  color: #312e38;
}